<!doctype html>
<html lang="en">
{{> header }}
<body>
    <ul>
    {{#each data}}
        <li><a href="{{ ../siteData.baseURL }}/namespaces/{{ @key }}/index.html">{{@key}}</a> ({{ . }})</li>
    {{/each}}
    </ul>
{{> footer }}
</body>
</html>
