<footer>
    <p><small>
        Portions of the materials used are trademarks and/or copyrighted works of
        Epic Games, Inc. All rights reserved by Epic.
        This material is not official and is not endorsed by Epic.
    </small></p>

    <p><small>
        For more information, see the
        <a href="https://www.epicgames.com/site/en-US/tos">Terms of Service</a> and
        <a href="https://www.epicgames.com/site/en-US/fan-art-policy">Fan Content Policy</a>
        of the Epic Games Store.
    </small></p>
</footer>
